RewriteEngine On
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf)$
RewriteRule (.*) router.php [QSA,L]

# Toutes les requêtes qu'il va recevoir, il va l'envoyer à routes php
